

*{
    padding: 50px;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a
{
  /*background-image: none !important;
  background-color: #04BC00 !important;*/
  background-image: linear-gradient(to bottom,#00fb2e 0,#008a12 100%);
}
